TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

EMAIL_HOST=your_smtp_server
EMAIL_PORT=your_smtp_port
EMAIL_USER=your_smtp_login
EMAIL_PASS=your_smtp_password

MY_EMAIL=your_email_for_warning_notifications
EMAIL_NAME=Dead Man's Switch
