TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

EMAIL_HOST=your_smtp_server
EMAIL_PORT=587
EMAIL_SECURITY=auto  # auto | starttls | ssl
EMAIL_USER=your_smtp_login
EMAIL_PASS=your_smtp_password
EMAIL_FROM=your_sender_email

MY_EMAIL=your_email_for_warning_notifications
EMAIL_NAME=Dead Man's Switch
